[Desktop Entry]

Type=Application

Name=Email and Time

Comment=z

Exec=python3 /GUI_new_people.py					#way to program!!!

Terminal=false
Name[en]=new_people
